/*
 * General styles
 */
h1 {
     font-size: 40px;
     line-height: 125%;
     padding: 10px 0;
     margin-top: 70px;
     padding-bottom: 5px;
     border-bottom: 1px solid #c1c1c1;
}

body {
    background: url('../img/bg.gif');
}

/*
 * Header section
 */
#header {
    
}

    #header
    #nav 
    .brand {
        color: #FFF
    }

@media (max-width: 979px) {
    #nav.navbar-fixed-top {
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    #nav ul.nav li {
        float: none
    }
}

/*
 * Content section
 */

#content 
h1.invitation {
    text-align: center;
}

#content 
.features-box {
    float: right;
    right: 50%;
    position: relative;
}

#content 
.features-box
ul.features {
    list-style: none;
    float: right;
    right: -50%;
    margin-left: 0;
    margin-bottom: 15px;
    position: relative;
}

    #content 
    .features-box
    ul.features
    li {
        margin-top: 40px;
        text-align: center;
    }

        #content 
        .features-box
        ul.features
        li.no-margin-left {
            margin-left: 0;
        }

        #content 
        .features-box
        ul.features
        li i {
           font-size: 60px; 
        }

        #content 
        .features-box
        ul.features
        li p {
            margin: 0;
        }

#content
.table {
    background: whitesmoke;
}
    
    @media (max-width: 479px) {
        #content
        .table
        tr
        td
        {
            word-break: break-all;
        }
    }

@media (min-width: 768px) {
    #content
    .js-flickr-gallery {
        margin: 30px 0 30px;
    }
}

    #content
    .table-bordered 
    tr.light-top 
    td {
         border-top: 1px solid #eee;
    }

    #content
    .table-bordered 
    tr.light-top 
    td 
    i.icon-angle-right {
         margin-left: 10px;
    }

/*
 * Utility 
 */
.no-margin {
    margin: 0;
}